<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  	<div class="row">
  		<div class="col-md-2">
  			<p>Scraper News - BBC</p>
  		</div>
  		<div class="col-md-1">
  			<a href="./"><p>Home</p></a>
  		</div>
  		<div class="col-md-2">
  			<a href="./saved"><p>Saved Articles</p></a>
  		</div>
{{!--   		<div class="col-md-6">
  			<button class="btn btn-default" type="submit">Scrape Articles</button>
  		</div> --}}
  	</div>    
  </div>
</nav>

<header class="jumbotron">
  <h1 class="text-center">Scraper News</h1>
  <p class="text-center">BBC Edition</p>
  <p class="text-center">Saved Articles</p>
</header>

<div class="container">
	<div class="row">
	  <div class="col-md-12">
      <div class="panel panel-default">
        {{#each articles}}
        <div class="panel-heading">
          <h3 class="panel-title">{{title}}</h3>
        </div>
        <div class="panel-body">
          <p><a href="{{link}}">{{link}}</a></p>
          <button class="btn btn-default btn-unsave" type="submit" data-id="{{_id}}">Remove from Save</button>
          <button class="btn btn-default btn-unsave" type="submit" data-id="{{_id}}">Remove from Save</button>
        </div>
        {{/each}}
      </div>
	  </div>
	</div>
</div>



{{!--   <div id="notes">
  	
  </div> --}}